
run = "streamlit run main.py --server.address=0.0.0.0 --server.port=80"
public = true

modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "streamlit run main.py --server.headless=true --server.enableCORS=false --server.enableXsrfProtection=false --server.address=0.0.0.0 --server.port=5000"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PYTHONPATH = "${PYTHONPATH}:${REPL_HOME}"

[languages.python]
pattern = "**/*.py"

[auth]
pageEnabled = true
buttonEnabled = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Streamlit Server"

[[workflows.workflow]]
name = "Streamlit Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run main.py --server.address=0.0.0.0 --server.port=5000"
waitForPort = 5000
